.helper-nav {
  position: fixed;
  z-index: 1001;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  transition: opacity 0.2s cubic-bezier(0.075, 0.82, 0.165, 1),
    transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

  &.caption-on {
    transform: translateX(-50%) translateY(-5rem);
  }
  &.hide {
    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, 200px);
  }
  button {
    user-select: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover {
      transform: translateY(-0.5rem);
    }
  }
  .subtitle-button {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    font-family: $verizonBold;
    font-size: 2.4rem;
    color: white;
    height: 5rem;
    position: relative;
    top: 0.1rem;
    margin-left: 0.25rem;
    &.active {
      background-color: white;
      color: black;
    }
  }
}
